html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-size: 1em;
	font-family: "Courier New";
	background: #d4d4d4;
}

a.link:link, a.link:visited {
	color: #428bca;
}

a.link:hover, a.link:active {
	color: red;
	text-decoration: none;
}

p {
	padding: 2px 5px;
	margin: 0;
}

div.summary {
	margin: 20px 0;
	padding: 20px;
	border: 1px dashed #CCC;
}

p.note {
	border: 1px dashed red;
	background-color: #ff000010;
	padding: 10px;
}

nav {
	background: black;
	color: white;
	height: 64px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 4;
}

div.item {
	font-size: 2em;
	max-width: 1200px;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	background-image: url(../icon/Microphone-48.png);
	background-repeat: no-repeat;
	background-position: 9px;
	height: 64px;
	line-height: 64px;
	padding: 0 64px;
}

div.score {
	position: fixed;
	padding: 20px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: white;
	border: 2px solid green;
	z-index: 4;
}

main {
	margin-top: 80px;
	margin-bottom: 80px;
	padding: 15px 64px 30px 64px; 
	max-width: 1200px;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	background: white;
}

form, div.result {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 20px;
}

textarea, label, div.result div {
	flex-grow: 1;
	width: 47%;
	margin: 10px 1%;
	resize: vertical;
}

textarea {
	font-family: "Courier new";
	font-size: 1em;
}


input, button {
	border: 1px solid black;
	padding: 10px 20px;
	background-color: black;
	color: white;
	font-family: "Courier new";
	font-size: 1em;
	cursor: pointer;
}

input:hover, button:hover {
	background-color: white;
	color: black;
}

footer {
	position: fixed;
	background-color: white;
	bottom: 0px;
	height: 64px;
	width: 100%;
	border-top: 1px dashed #CCC;
}

footer ul {
	list-style: none;
	list-style-type: none;
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	margin: 0;
}

footer ul a:link, footer ul a:visited {
	color: black;
	text-decoration: none;
}

footer ul a li, footer ul li {
	height: 48px;
	line-height: 48px;
	padding: 0 12px;
	margin: 9px 0 9px -9px;
	display: inline-block;
}

footer ul a li.gitlab {
	background-image: url(../icon/Gitlab-48.png);
	background-repeat: no-repeat; 
	padding-left: 48px;
}

footer ul a li:hover {
	background-color: black;
	color: white;
}